.meal-recipe
    display: flex
    flex-direction: row
    flex-wrap: wrap
    align-items: flex-start
    justify-content: center
    margin: 0 auto
    padding-top: 10px
    max-width: 1100px

.meal-info
    width: 500px
    max-width: 100%
    display: flex
    flex-direction: column
    align-items: center
    border-radius: 30px
    background: $c3
    margin: 20px
    box-shadow: 2px 2px 4px $cs

    h1
        margin: 10px
        font-family: $fh
        text-transform: capitalize
    p
        margin: 10px
        font-family: $fp
    img
        max-width: 100%
        padding: 10px
        border-radius: 30px
.meal-ingredients-wrapper
    background: $c3
    border-radius: 30px
    width: 500px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    margin: 20px
    padding: 20px 0
    box-shadow: 2px 2px 4px $cs
.meal-inner-ingredients-wrapper
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: center
    align-items: center
.meal-ingredients
    display: flex
    flex-direction: column
    width: 120px
    height: 150px
    border-radius: 10px
    margin: 15px
    padding: 10px
    justify-content: center
    align-items: center
    background: $c4
    box-shadow: 2px 2px 4px $cs
    text-decoration: none
    color: $c0
    p
        text-align: center
    img
        height: 50px
        margin: 10px
.meal-recipe-youtube
    text-decoration: none
    color: red
    font-size: 50px
    background: linear-gradient( rgba(255,255,255,0) 0%, rgba(255,255,255,0) 21%, rgba(255,255,255,1) 21%, rgba(255,253,253,1) 55%, rgba(255,255,255,0) 55%)
    margin: 0
    padding: 0
    position: relative
.meal-ingredients-title
    font-weight: bold
    font-family: $fp
.meal-instructions
    background: $c3
    border-radius: 30px
    padding: 30px
    max-width: 1040px
    margin: 20px
    box-shadow: 2px 2px 4px $cs

    h2
        font-family: $fh
        text-transform: capitalize
    p
        font-family: $fp
        margin: 10px 0
        line-height: 22px
        text-align: justify
.meal-video
    width: 1040px
    max-width: 100%
    height: 640px
    max-height: calc(100vw - 200px)
    margin: 20px

@media (max-width: 500px)
    .meal-ingredients
        grid-template-columns: 3fr 2fr
