@import "src/sass/variables.sass"
*
    margin: 0
    padding: 0
    box-sizing: border-box

html
    background: $c0
    max-width: 1200px
    margin: 0 auto
    overflow-y: scroll
#root
    background: $c5
.loading
    display: flex
    align-items: center
    justify-content: center
    background: $c5
    height: 100vh
    width: 100%

@import "src/components/Menu/menu.sass"
@import "src/templates/Home/home.sass"
@import "src/sass/cards.sass"
@import "src/components/Recipe/recipe.sass"
