* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: #000000;
  max-width: 1200px;
  margin: 0 auto;
  overflow-y: scroll;
}

#root {
  background: #233d4d;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #233d4d;
  height: 100vh;
  width: 100%;
}

@keyframes searchGrow {
  0% {
    width: 80px;
  }
  100% {
    width: 300px;
  }
}
@keyframes searchShrink {
  0% {
    width: 300px;
  }
  100% {
    width: 80px;
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.meal-menu {
  width: 100%;
  max-width: 1200px;
  height: 60px;
  background: #000000;
  display: flex;
  position: fixed;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6117647059);
  z-index: 100;
}

.meal-menu-link-container {
  display: flex;
}

.meal-menu-link {
  text-decoration: none;
}
.meal-menu-link h1 {
  font-family: "Dosis", sans-serif;
  font-size: 20px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  color: #a1c181;
}
.meal-menu-link .meal-menu-icons {
  color: #a1c181;
  text-decoration: none;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 30px;
  width: 70px;
  margin: 0 10px;
  transition: all 0.3s ease-in-out;
  font-size: 25px;
}

.meal-menu-link:hover .meal-menu-icons, .meal-menu-link:hover h1 {
  color: #619b8a;
}

.meal-menu-spacing {
  width: 100%;
  height: 60px;
}

.menu-input {
  height: 40px;
  width: 80px;
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  padding: 5px;
}

.menu-input-focus {
  animation: searchGrow 0.5s forwards ease-in-out;
}

.menu-input-not-focus {
  animation: searchShrink 0.5s forwards ease-in-out;
}

.menu-search {
  position: relative;
  margin-left: 20px;
}

.menu-search-complete {
  position: absolute;
  width: 100%;
  max-height: 300px;
  top: 60px;
  left: 0px;
  padding: 0 20px 0px 20px;
  color: #ffffff;
  background: #000000;
  border-radius: 0 0 20px 20px;
  overflow-y: scroll;
}
.menu-search-complete ul {
  list-style-type: none;
}
.menu-search-complete ul li {
  padding: 0 10px 20px 10px;
}

.menu-search-link {
  text-decoration: none;
  color: #ffffff;
}

.menu-bars-container {
  display: none;
}

.menu-logo {
  background: #ffffff;
  padding: 5px;
  border-radius: 10px;
  margin: 5px 20px;
}

@media (max-width: 900px) {
  .menu-bars-container {
    margin: 10px;
    display: inline-block;
    cursor: pointer;
  }

  .menu-bar1, .menu-bar2, .menu-bar3 {
    width: 35px;
    height: 5px;
    background-color: #a1c181;
    margin: 6px 0;
    transition: 0.4s;
  }

  .menu-change .menu-bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 7px);
    transform: rotate(-45deg) translate(-9px, 7px);
  }

  .menu-change .menu-bar2 {
    opacity: 0;
  }

  .menu-change .menu-bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -7px);
    transform: rotate(45deg) translate(-8px, -7px);
  }

  .meal-menu-link-container {
    position: fixed;
    z-index: 100;
    top: 60px;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.862745098);
    flex-direction: column;
    padding: 20px 10px;
    display: none;
    transition: all 0.4s ease-out;
  }

  .menu-input {
    width: 300px;
  }

  .menu-search {
    width: 300px;
  }

  .menu-input-focus {
    animation: none;
  }

  .menu-input-not-focus {
    animation: none;
  }

  .menu-display-appear {
    display: block;
    animation: appear 0.4s forwards ease-in-out;
  }

  .menu-display-disappear {
    display: block;
    animation: disappear 0.4s forwards ease-in-out;
  }

  .meal-menu-link {
    display: flex;
    align-items: center;
  }
  .meal-menu-link .meal-menu-icons {
    width: 40px;
    height: 50px;
    align-items: center;
  }

  .menu-search-complete {
    top: 55px;
    padding: 10px 20px;
    max-height: 250px;
  }

  .menu-logo {
    width: 80%;
  }
}
.meal-home {
  min-height: calc(100vh - 60px);
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.meal-home img {
  background: #fcca46;
  width: 100%;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6117647059);
  margin: 10px 0;
}
.meal-home p {
  margin: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #ffffff;
}
.meal-home p span {
  font-weight: bold;
  position: relative;
}
.meal-home p span a {
  text-decoration: none;
  color: #ffffff;
}

.social-box {
  position: absolute;
  width: 150px;
  height: 50px;
  background: rgba(0, 0, 0, 0.862745098);
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: 10px;
  display: none;
}
.social-box .social-wrap {
  display: flex;
}
.social-box .social-wrap .social-logo {
  height: 30px;
  width: 30px;
  position: relative;
  font-size: 30px;
  margin: 10px;
}

.home-card {
  margin: 10px;
  padding: 10px;
  text-decoration: none;
  color: #000000;
  background: #fcca46;
  border-radius: 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6117647059);
  font-family: "Dosis", sans-serif;
  font-weight: bold;
  font-size: 30px;
  width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-box-on {
  display: block;
}

@keyframes cardGrow {
  from {
    max-height: 31px;
  }
  to {
    max-height: 93px;
  }
}
.meal-section {
  min-height: calc(100vh - 60px);
}

.meal-category {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
}

.meal-card {
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  background: #fcca46;
  border-radius: 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6117647059);
  transition: all 0.3s ease-in-out;
}
.meal-card img {
  padding: 10px 20px;
  border-radius: 30px;
  max-width: 280px;
}
.meal-card h1 {
  font-family: "Dosis", sans-serif;
  color: #000000;
  margin: 10px 10px 0px 10px;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2392156863);
  text-transform: capitalize;
}
.meal-card h2 {
  font-family: "Dosis", sans-serif;
  color: #000000;
  margin: 10px 10px 0px 10px;
  text-align: center;
  height: 31px;
  overflow: hidden;
  background: #fcca46;
  width: fit-content;
  transition: all 0.3s ease-in-out;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2392156863);
  text-transform: capitalize;
}

.meal-card:hover {
  background: #fe7f2d;
}
.meal-card:hover h2 {
  z-index: 1;
  background: #fe7f2d;
  height: fit-content;
}

.meal-country h2 {
  margin-bottom: 10px;
}

.meal-recipe {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin: 0 auto;
  padding-top: 10px;
  max-width: 1100px;
}

.meal-info {
  width: 500px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  background: #fcca46;
  margin: 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6117647059);
}
.meal-info h1 {
  margin: 10px;
  font-family: "Dosis", sans-serif;
  text-transform: capitalize;
}
.meal-info p {
  margin: 10px;
  font-family: "Montserrat", sans-serif;
}
.meal-info img {
  max-width: 100%;
  padding: 10px;
  border-radius: 30px;
}

.meal-ingredients-wrapper {
  background: #fcca46;
  border-radius: 30px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 20px 0;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6117647059);
}

.meal-inner-ingredients-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.meal-ingredients {
  display: flex;
  flex-direction: column;
  width: 120px;
  height: 150px;
  border-radius: 10px;
  margin: 15px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  background: #fe7f2d;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6117647059);
  text-decoration: none;
  color: #000000;
}
.meal-ingredients p {
  text-align: center;
}
.meal-ingredients img {
  height: 50px;
  margin: 10px;
}

.meal-recipe-youtube {
  text-decoration: none;
  color: red;
  font-size: 50px;
  background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 21%, rgb(255, 255, 255) 21%, rgb(255, 253, 253) 55%, rgba(255, 255, 255, 0) 55%);
  margin: 0;
  padding: 0;
  position: relative;
}

.meal-ingredients-title {
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.meal-instructions {
  background: #fcca46;
  border-radius: 30px;
  padding: 30px;
  max-width: 1040px;
  margin: 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6117647059);
}
.meal-instructions h2 {
  font-family: "Dosis", sans-serif;
  text-transform: capitalize;
}
.meal-instructions p {
  font-family: "Montserrat", sans-serif;
  margin: 10px 0;
  line-height: 22px;
  text-align: justify;
}

.meal-video {
  width: 1040px;
  max-width: 100%;
  height: 640px;
  max-height: calc(100vw - 200px);
  margin: 20px;
}

@media (max-width: 500px) {
  .meal-ingredients {
    grid-template-columns: 3fr 2fr;
  }
}

/*# sourceMappingURL=index.css.map */
