.meal-home
    min-height: calc( 100vh - 60px )
    padding: 20px
    display: flex
    flex-direction: column
    img
        background: $c3
        width: 100%
        border-radius: 10px
        box-shadow: 2px 2px 4px $cs
        margin: 10px 0
.meal-home-text
    margin: 10px
    font-family: $fp
    font-size: 20px
    color: $cf
    span
        font-weight: bold
        position: relative
        a
            text-decoration: none
            color: $cf
.social-box
    position: absolute
    width: 150px
    height: 50px
    background: $cmb
    top: 0
    left: 0
    z-index: 1
    border-radius: 10px
    display: none
    .social-wrap
        display: flex
        .social-logo
            height: 30px
            width: 30px
            position: relative
            font-size: 30px
            margin: 10px
.home-card
    margin: 10px
    padding: 10px
    text-decoration: none
    color: $c0
    background: $c3
    border-radius: 20px
    box-shadow: 2px 2px 4px $cs
    font-family: $fh
    font-weight: bold
    font-size: 30px
    width: 200px
    height: 100px
    display: flex
    align-items: center
    justify-content: center
    transition: all 0.3s ease-in-out
.home-card:hover
    background: $c4
.social-box-on
    display: block
